{% extends 'base.html' %}
{{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<h1>Posts</h1>
<hr>
<div class="row">
{% for values in posts %}
  <div class="col-md-4">
      <div class="card mb-2">
          <img class="card-img-top" src="{% static project.image %}">
          <h3>{{ values.user }}</h3>
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail' values.slug %}">{{values.title}}</a></h5>
              <p class="card-text">{{ values.content }}</p>
          </div>
          <label>Published since {{  values.created_at | timesince }} </label>
          
      </div>
      <br><br>
      <hr>
      <br>

  </div>
{% endfor %}
</div>

  
{% endblock content %}